*{margin: 0;padding: 0}
html,body{background: #222222;color: #fff;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
header{display: block;margin: 20px auto 0 auto;width: 100%;text-align: center;}
header h1{font-family: Arial;font-size: 40px;font-weight: bold;}
header #newGameBtn{display: block;margin: 20px auto; width: 100px;padding: 15px;background-color: #3f3f3f;font-family: Arial;color: #fff;border-radius: 10px;text-decoration: none;}
header #newGameBtn:hover{background-color: #3f3f3f;}
header p{font-family: Arial;font-size: 20px;margin: 15px auto;}

#grid-container{width: 460px;height: 460px;padding: 20px;margin: 20px auto;background-color: #3a3a3a;border-radius: 10px;position: relative;}
.grid-cell{width: 100px;height: 100px;border-radius: 6px;background-color: #3f3f3f;position: absolute;}
.number-cell{border-radius: 6px; font-family: Arial;font-weight: bold;font-size: 60px;line-height: 100px;text-align: center;position: absolute;color:#fff;}
.number-cell:after{content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 12%;background: rgba(0,0,0,.2);border-radius: 13px;}
.clickUpCellBTR{animation-name: clickUpCellBTR;-webkit-animation-name: clickUpCellBTR;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;}
.clickUpCellRTB{animation-name: clickUpCellRTB;-webkit-animation-name: clickUpCellRTB;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;}
.clickDownCellBTR{animation-name: clickDownCellBTR;-webkit-animation-name: clickDownCellBTR;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;}
.clickDownCellRTB{animation-name: clickDownCellRTB;-webkit-animation-name: clickDownCellRTB;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;}
.clickUpCellBTR.number-cell:after,.clickDownCellBTR.number-cell:after{animation-name: clickCell;-webkit-animation-name: clickCell;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;}
.clickUpCellRTB.number-cell:after,.clickDownCellRTB.number-cell:after{animation-name: clickCell;-webkit-animation-name: clickCell;animation-duration: 0.5s;-webkit-animation-duration: 0.5s;}

@-webkit-keyframes clickCell{
	0%{
		background-color: rgba(0,0,0,0.2);
	}
	50%{
		background-color: rgba(0,0,0,0);
	}
	100%{
		background-color: rgba(0,0,0,0.2);
	}
}

@keyframes clickBTR{
	0%{
		background-color: rgba(0,0,0,0.2);
	}
	50%{
		background-color: rgba(0,0,0,0);
	}
	100%{
		background-color: rgba(0,0,0,0.2);
	}
}


@-webkit-keyframes clickUpCellBTR{
	0%{
		-webkit-transform: scale(1);
		background-color: #30a7c2;
	}
	50%{
		-webkit-transform: scale(1.5);
		background-color: rgba(0,0,0,0.1);
	}
	100%{
		-webkit-transform: scale(1);
		background-color: #d55336;
	}
}

@keyframes clickUpCellBTR{
	0%{
		transform: scale(1);
		background-color: #30a7c2;
	}
	50%{
		transform: scale(1.5);
		background-color: rgba(0,0,0,0.1);
	}
	100%{
		transform: scale(1);
		background-color: #d55336;
	}
}

@-webkit-keyframes clickDownCellBTR{
	0%{
		-webkit-transform: scale(1);
		background-color: #30a7c2;
	}
	50%{
		-webkit-transform: scale(0.7);
		background-color: rgba(0,0,0,0.1);
	}
	100%{
		-webkit-transform: scale(1);
		background-color: #d55336;
	}
}

@keyframes clickDownCellBTR{
	0%{
		transform: scale(1);
		background-color: #30a7c2;
	}
	50%{
		transform: scale(0.7);
		background-color: rgba(0,0,0,0.1);
	}
	100%{
		transform: scale(1);
		background-color: #d55336;
	}
}


@-webkit-keyframes clickUpCellRTB{
	0%{
		-webkit-transform: scale(1);
		background-color: #d55336;
	}
	50%{
		-webkit-transform: scale(1.5);
		background-color: rgba(0,0,0,0.1);
	}
	100%{
		-webkit-transform: scale(1);
		background-color: #30a7c2;
	}
}

@keyframes clickUpCellRTB{
	0%{
		transform: scale(1);
		background-color: #d55336;
	}
	50%{
		transform: scale(1.5);
		background-color: rgba(0,0,0,0.1);
	}
	100%{
		transform: scale(1);
		background-color: #30a7c2;
	}
}

@-webkit-keyframes clickDownCellRTB{
	0%{
		-webkit-transform: scale(1);
		background-color: #d55336;
	}
	50%{
		-webkit-transform: scale(0.7);
		background-color: rgba(0,0,0,0.1);
	}
	100%{
		-webkit-transform: scale(1);
		background-color: #30a7c2;
	}
}

@keyframes clickDownCellRTB{
	0%{
		transform: scale(1);
		background-color: #d55336;
	}
	50%{
		transform: scale(0.7);
		background-color: rgba(0,0,0,0.1);
	}
	100%{
		transform: scale(1);
		background-color: #30a7c2;
	}
}

